<form [formGroup]="form" (ngSubmit)="registerNow()" class="container col-sm-5 description">
    <fieldset class="row">
        <h6>{{message}}</h6>
        <div class="form-group row">
            <h4 class="col-sm-10">Register Now</h4>
            <button class="btn btn-outline-info col-sm-2 pull-right" routerLink='/home' type="button" name="back">Back</button>
        </div>
        <hr>
        <div class="form-group">
            <label for="uId">Employee ID:</label>
            <input id="uId" class="form-control" type="text" placeholder="Enter valid Employee ID"
                formControlName="uId" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f['uId'].errors }" />
            <div *ngIf="submitted && f['uId'].errors" class="invalid-feedback">
                <div *ngIf="f['uId'].errors['required']">Employee ID is required</div>
                <div *ngIf="f['uId'].errors['minlength']">Employee ID must be at least {{ f['uId'].errors['minlength'].requiredLength }} characters</div>
                <div *ngIf="f['uId'].errors['maxlength']">Employee ID must not exceed {{ f['uId'].errors['maxlength'].requiredLength }} characters</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="firstname">First Name:</label>
            <input id="firstname" type="text" class="form-control" placeholder="Enter your firstname..."
                formControlName="firstname" autocomplete="given-name"
                [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" />
            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">First Name is required</div>
                <div *ngIf="f['firstname'].errors['minlength']">First Name must be at least {{ f['firstname'].errors['minlength'].requiredLength }} characters</div>
                <div *ngIf="f['firstname'].errors['maxlength']">First Name must not exceed {{ f['firstname'].errors['maxlength'].requiredLength }} characters</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="lastname">Last Name:</label>
            <input id="lastname" type="text" class="form-control" placeholder="Enter your lastname..."
                formControlName="lastname" autocomplete="family-name"
                [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" />
            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                <div *ngIf="f['lastname'].errors['required']">Last Name is required</div>
                <div *ngIf="f['lastname'].errors['minlength']">Last Name must be at least {{ f['lastname'].errors['minlength'].requiredLength }} characters</div>
                <div *ngIf="f['lastname'].errors['maxlength']">Last Name must not exceed {{ f['lastname'].errors['maxlength'].requiredLength }} characters</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="email">Email:</label>
            <input id="email" class="form-control" type="email" placeholder="Enter valid email address"
                formControlName="email" autocomplete="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="password">Password:</label>
            <input id="password" type="password" class="form-control" placeholder="Enter password"
                formControlName="password" autocomplete="new-password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least {{ f['password'].errors['minlength'].requiredLength }} characters</div>
                <div *ngIf="f['password'].errors['pattern']">Password must contain uppercase, lowercase and a number</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="dob">Date of Birth:</label>
            <input id="dob" class="form-control" type="date" 
                formControlName="dob" autocomplete="bday"
                [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
            <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                <div *ngIf="f['dob'].errors['required']">Date of Birth is required</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="mobileno">Mobile No:</label>
            <input id="mobileno" class="form-control" type="text" placeholder="Enter valid mobile no"
                formControlName="mobileno" autocomplete="tel"
                [ngClass]="{ 'is-invalid': submitted && f['mobileno'].errors }" />
            <div *ngIf="submitted && f['mobileno'].errors" class="invalid-feedback">
                <div *ngIf="f['mobileno'].errors['required']">Mobile number is required</div>
                <div *ngIf="f['mobileno'].errors['pattern']">Mobile number must be 10-12 digits only</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="domain">Domain:</label>
            <select id="domain" class="form-control"
                formControlName="domain"
                [ngClass]="{ 'is-invalid': submitted && f['domain'].errors }">
                <option value="">Select domain</option>
                <option value="fullstack">Full Stack</option>
                <option value="backend">Backend</option>
                <option value="frontend">Frontend</option>
                <option value="devops">DevOps</option>
            </select>
            <div *ngIf="submitted && f['domain'].errors" class="invalid-feedback">
                <div *ngIf="f['domain'].errors['required']">Domain is required</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="experience">Experience:</label>
            <input id="experience" class="form-control" type="number" placeholder="Total years of experience"
                formControlName="experience" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f['experience'].errors }" />
            <div *ngIf="submitted && f['experience'].errors" class="invalid-feedback">
                <div *ngIf="f['experience'].errors['required']">Experience is required</div>
                <div *ngIf="f['experience'].errors['min']">Experience must be at least 0 years</div>
                <div *ngIf="f['experience'].errors['max']">Experience must not exceed 30 years</div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-outline-success" type="submit">Register</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button class="btn btn-outline-primary" type="button" (click)="onReset()">Reset</button>
        </div>
    </fieldset>
</form>